body{ 
  background: url('C:/Users/Administrator/Desktop/pay/images/payonline.jpg') no-repeat center center fixed; /*to set the background image*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.list{
	position: relative;
    width: 800px;
    height: 800px;

}