body{ 
  background: url('C:/git repos/pay/images/bgshop.jpg') no-repeat center center fixed; /*to set the background image*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#shop{
	
     position:relative;
    top: -8px;
    left: -5px;
    right: 100px;
    bottom: 100px;
}
#side{
	img-color:yellow;
	border:1px solid black;
	 position:relative;
    top: -10px;
    left: -7px;
    right: 100px;
    bottom: 100px;
}
#all{                               /*buttons position*/
	 position:relative;
    top: -1px;
    left: -140px;
    right: 100px;
    bottom: 100px;
}
#alli{
	 position:relative;
    top: 2px;
    left: 380px;
    right: 100px;
    bottom: 100px;
}
#allis{
	 position:relative;
    top: -412px;
    left: 480px;
    right: 100px;
    bottom: 100px;
}
#allisw{
	 position:relative;
    top: -620px;
    left: 1250px;
    right: 100px;
    bottom: 100px
}
#alliswe{
	position:relative;
    top: -515px;
    left: 1280px;
    right: 100px;
    bottom: 100px
}
#alliswel{
	position:relative;
    top: -720px;
    left: 990px;
    right: 100px;
    bottom: 100px
}
#alliswell{
	position:relative;
    top: -915px;
    left: 150px;
    right: 100px;
    bottom: 100px
}
#alliswelll {
	position:relative;
    top: -913px;
    left: 300px;
    right: 100px;
    bottom: 100px
}
#bluetooth{
	 border:1px solid black;
	 position:relative;
    top: 6px;
    left: 10px;
    right: 100px;
    bottom: 100px;
}
#headphone{
	
	  border:1px solid black;
	  position:relative;
    top: 9px;
    left: 530px;
    right: 100px;
    bottom: 100px;
}
#shoes{	  
border:1px solid black;
	  position:relative;
    top: -200px;
    left: 430px;
    right: 100px;
    bottom: 100px;
	
}
#mob{	
  border:1px solid black;
	  position:relative;
    top: -405px;
    left: 1100px;
    right: 100px;
    bottom: 100px;
	
}
#jeans{	 
 border:1px solid black;
	  position:relative;
    top: -300px;
    left: 1100px;
    right: 100px;
    bottom: 100px;
	
}
#earphone{
		  border:1px solid black;
	  position:relative;
    top: -505px;
    left: 830px;
    right: 100px;
    bottom: 100px;
}
#glass{
		  border:1px solid black;
	  position:relative;
    top: -700px;
    left: 10px;
    right: 100px;
    bottom: 100px;
	
}
#helmet{
	 border:1px solid black;
	  position:relative;
    top: -906px;
    left: 440px;
    right: 100px;
    bottom: 100px;
}